html {
	box-sizing: border-box;
}

body {
	background-color: black;
}

.container {
    height: 80vh;
    display: flex;
    flex-flow: column;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

header {
	background-color: lightslategray;
	color: blue;
	text-align: center;
	font-size: xx-large;
}

.calculator {
    padding: 1%;
    margin: auto;
    border: 1px solid;
    border-radius: 5px;
    background-color: lightslategray;
    width: 100%;
    max-width: 402px;
    display: flex;
    flex-flow: column;
    height: 100%;
}

.calculatorScreen {
    height: 20%;
	width: 100%;
	font-size: 64px;
	background-color: #4cbef2;
	color: black;
	text-align: right;
	padding-right: 20px;
	padding-left: 10px;
}

.calculatorKeys {
    display: flex;
    flex-flow: column;
    height: 100%;
}

button {
    font-size: 32px;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    color: #333;
    background-color: lightslategray;
	background-image: linear-gradient(
		to bottom,
		transparent,
		transparent 50%,
		rgba(0, 0, 0, 0.04)
	);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
		inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
		inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
		0 1px 0 0 rgba(255, 255, 255, 0.15);
	text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}

button:hover {
	background-color: #eaeaea;
}

.clear,
.clearEntry {
	background-color: #2196f3;
}

.clear:hover,
.clearEntry:hover {
	background-color: #03a9f4;
}

.operator {
	background-color: #ff0000;
}

.operator:hover {
	background-color: #ff0000a1;
}

.calculatorKeys > div {
	display: flex;
    height: 20%;
}

